In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
%matplotlib inline

In [24]:
train = pd.read_csv("titanic/train.csv")
test = pd.read_csv("titanic/test.csv")
train.drop(columns=['Name','Ticket','Embarked'], inplace=True)
train.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin
0            1         0       3    male  22.0      1      0   7.2500   NaN
1            2         1       1  female  38.0      1      0  71.2833   C85
2            3         1       3  female  26.0      0      0   7.9250   NaN
3            4         1       1  female  35.0      1      0  53.1000  C123
4            5         0       3    male  35.0      0      0   8.0500   NaN

In [26]:
train['Sex'] = train['Sex'].astype('category')
train['Sex'] = train['Sex'].cat.codes
# train['Age'] = train['Age'].astype('float')
train.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare Cabin
0            1         0       3    1  22.0      1      0   7.2500   NaN
1            2         1       1    0  38.0      1      0  71.2833   C85
2            3         1       3    0  26.0      0      0   7.9250   NaN
3            4         1       1    0  35.0      1      0  53.1000  C123
4            5         0       3    1  35.0      0      0   8.0500   NaN

In [38]:
train.corr()
# plt.scatter(train['Survived'], train['Sex'])

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.042939,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.543351,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,0.131900,-0.369226,0.083081,0.018443,-0.549500
Sex,0.042939,-0.543351,0.131900,1.000000,0.093254,-0.114631,-0.245489,-0.182333
Age,0.036847,-0.077221,-0.369226,0.093254,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.114631,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.245489,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,-0.182333,0.096067,0.159651,0.216225,1.000000

In [39]:
clf = RandomForestClassifier(max_depth=2, random_state=0)
clf.fit(train, test)

ValueError: could not convert string to float: 'C85'