In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
%matplotlib inline

In [34]:
train = pd.read_csv("titanic/train.csv")
test = pd.read_csv("titanic/test.csv")
train.drop(columns=['Name','Ticket','Embarked'], inplace=True)
train.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin
0            1         0       3    male  22.0      1      0   7.2500   NaN
1            2         1       1  female  38.0      1      0  71.2833   C85
2            3         1       3  female  26.0      0      0   7.9250   NaN
3            4         1       1  female  35.0      1      0  53.1000  C123
4            5         0       3    male  35.0      0      0   8.0500   NaN

In [37]:
train['Sex'] = train["Sex"].astype('category')
train.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin
0            1         0       3    male  22.0      1      0   7.2500   NaN
1            2         1       1  female  38.0      1      0  71.2833   C85
2            3         1       3  female  26.0      0      0   7.9250   NaN
3            4         1       1  female  35.0      1      0  53.1000  C123
4            5         0       3    male  35.0      0      0   8.0500   NaN

In [17]:
clf = RandomForestClassifier(max_depth=2, random_state=0)
clf.fit(train, test)

ValueError: could not convert string to float: 'Braund, Mr. Owen Harris'